:root {
  --main-color: #0ef;
  --background: black;
  --screen: paleturquoise;
  --default: white;
}

body {
  overflow-x: hidden;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--background);
  transition: 300ms ease;
  background: linear-gradient(
      to right,
      var(--default) 0%,
    var(--default) 40%,
    var(--main-color) 60%,
    var(--background) 100%
  );
}

.intro {
  text-align: center;
}

.talk {
  text-align: center;
  font-weight: bolder;
  animation: grow 5s ease 1 alternate;
}

@keyframes grow{
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: (1.10);
      opacity: 1;
  }
}

#container {
  display: flex;
  justify-content: center;
}

.final {
  width: 227px;
  height: 50px;
  background-color: var(--default);
  margin-top: -60px;
  transition: 300ms ease;
}

.screen {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  transition: 300ms ease;
  margin-top: 30px;
}

.clear {
  margin-top: -59px;
  height: 50px;
}

.seven {
  margin-top: -59px;
  height: 50px;
}

.four {
  margin-top: -59px;
  height: 50px;
}

#button {
  background-color: black;
  border: 2px solid aqua;
  box-shadow: 0px 0px 5px 5px black;
  padding: 20px;
  padding-top: 80px;
  margin-top: 50px;
  gap: 9px;
  justify-content: center;
  display: grid;
  grid-template: 50px 50px 50px 50px 50px / 50px 50px 50px 50px;
  border-radius: 10px;
  animation: breathe 300ms ease infinite alternate;
}

@keyframes breathe {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.01);
  }
}

.operator, .special {
  border: none;
  color: black;
}

.operator:hover, .special:hover, .number:hover {
  transform: scale(1.05);
}

.equals:hover {
  transform: scale(1.05);
}
.operator {
  color: black;
  text-align: center;
  font-size: 20px;
  background: #ededed;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.equals {
  color: black;
  text-align: center;
  font-size: 20px;
  background: aqua;
  border: none;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.special {
  color: black;
  text-align: center;
  background: orangered;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.number {
  color: black;
  text-align: center;
  background: aqua;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.one {
  margin-top: -59px;
  height: 50px;
}

.dot {
  margin-left: -59px;
  width: 50px;
  font-size: 20px;
}

.zero {
  margin-left: -59px;
  width: 50px;
}

.equals {
  margin-left: -59px;
  width: 50px;
}

.plus {
  height: 109px;
}

.slider-track {
  width: 70px;
  height: 30px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
}

.slider-thumb {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: black;
   margin-top: 5px;
   margin-left: 5px;
   transition: 300ms ease;
}

.slider-thumb:hover {
   opacity: 0.7;
}